@media (min-width: 1400px){
    .container{
        max-width:1140px
    }
}
form{
    display: flex;
    flex-direction: column;
    border: solid 2px grey;
    margin:50px 0;
    padding:30px;
    border-radius: 5px;
    box-shadow: 0 1px 10px black;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh5jSZ-IE5xavUgxWNahsGYqRaQH40M2fh6A&usqp=CAU');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px black;
}
form h3{
    width:100%
}
label{
    font-weight: bold;
}
.btn{
    display: block;
    margin-top: 20px;
}
#premium{
    margin-left: 30px;
}
