body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container > img {
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 1px 10px;
}

section {
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.carousel-control-prev-icon{
  background-color: black;
  opacity:0.5
}
.carousel-control-next-icon{
  background-color: black;
  opacity: 0.5;
}
.carousel{
  width:400px;
  height:400px;
  align-self: center;
}
img{
  height:400px
}
