form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

#mainFormDiv {
    padding: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

.input-group {
    width: 500px;
}

input[type="text"],
[type="number"] {
    font-size: 25px;

}

#buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}
.shown{
    color: red;
}
#continueBtn, #previousBtn{
    border: none;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}