form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#mainFormDiv {
    padding: 50px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 10px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGZGMOthcsEJxDADZhZFCcrH8KT97qYo4Mpg&usqp=CAU');
    background-size: cover;
}

.input-group {
    width: 500px;
}

input[type="text"],
[type="number"] {
    font-size: 25px;

}

#buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}
.shown{
    color: red;
}
#continueBtn, #previousBtn{
    border: none;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
}